body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

#app {
max-width: 800px;
margin: 20px auto;
padding: 20px;
border: 1px solid #ddd; 
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

img {
max-width: 100%;
height: auto;
border-radius: 8px;
}

button {
background-color: #ee98a7; 
color: #fff; 
border: none;
padding: 10px 15px;
margin: 5px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease; 
}

button:hover {
background-color: #ff6f80;
}

h2 {
color: #333;
}

p {
color: #555;
}

/* Project made by TB and MB for ILAC classes of Web Advanced Programming */